{% extends 'base.html' %}

{% block title %}Courses{% endblock title %}Home

{% block body %}
<h1 class="text-center fw-bold text-decoration-underline">About the Course</h1>
<br>
<h1 class="text-center fw-bold">Full Stack Development Program</h1>
<br>
<h2 class="text-center">Master Web Development by acing the fundamentals of Front-end and Back-End Development to kickstart your journey of creating powerful modern Web Applications</h2>
<br>
<h1 class="text-center fw-bold">Topics Covered</h1>
<select class="form-select text-center" aria-label="Default select example">
    <option selected class="text-center btn-primary">Introduction to Full Stack</option>
    <option value="1" class="text-center">Discover what the web is along with the roles of HTML, CSS, JAVA Script.</option>
  </select>
  <br>
  <select class="form-select text-center" aria-label="Default select example">
    <option selected class="text-center">Play with the HTML Basics</option>
    <option value="1" class="text-center">HTML is a vast concept. Learn all the tags, elements, and attributes under it.
    </option>
  </select>
  <br>
  <select class="form-select text-center" aria-label="Default select example">
    <option selected class="text-center">Advanced HTML Concepts</option>
    <option value="1">Learn how to implement the advanced features of HTML. Now you can differentiate between HTML and HTML 5.</option>
  </select>
  <br>
{% endblock body %}