{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="content-fluid px-0">
    <img src="/static/frame1.jpg" height="710" width="400" class="d-block w-100 mx-0" alt="...">
</div> 
{% comment %} <h1 class="text-center fw-bold m-5">Project Name:MongoDB with Django November Minor Project</h1> {% endcomment %}
{% comment %} <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""> {% endcomment %}
{% comment %} <img src="/static/css/frame.png" alt=""> {% endcomment %}

{% endblock body %}


  
